<!-- <div>
  <app-header></app-header>
  <main [@routeAnimations]="prepareRoute(outlet)" class="content">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
  <router-outlet></router-outlet>
</div> -->
<!-- <app-user></app-user> -->
<!-- <app-alert message="This is a normal Angular component."></app-alert> -->
<!-- <div [innerHTML]="content"></div> -->
<!-- <app-web></app-web> -->
<!-- <div [innerHTML]="content"></div> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <app-chart></app-chart> -->
